GUARDIAN_STATE_DIR=/var/lib/utxoref-beta-guardian
BETA_BASE_URL=https://api.layerwallet.com/utxoref-beta
BETA_GRAPH_HASH=34dfe4a3d05264fa54cd6d99e9a07ac784c22f3011b7704847337a0543d02eee
GUARDIAN_INTERVAL_SECONDS=60
